{%extends 'base.html'%}

{% block content %}
{{block.super}}
<head>
      <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Alegreya|Amatic+SC|EB+Garamond|Teko|Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Alegreya|Amatic+SC|Dancing+Script|EB+Garamond|Fredoka+One|Josefin+Slab|Teko|Varela+Round" rel="stylesheet">
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <!------ Include the above in your HEAD tag ---------->
</head>
<body style="background-color:rgb(138, 156, 138);font-family: 'Fira Sans', sans-serif;font-size: 23px;">
   <div class="container">
    <div class="row" style="padding-top:40px;">
        <div class="col-sm-5 col-md-5">
            <img src="{{profiles.profile_pic.url}}" alt="" class="img-rounded img-responsive"/>
        </div>
        <div class="col-sm-7 col-md-7">
            <blockquote>
                <h3>{{profiles.first_name|upper}}  {{profiles.last_name|upper}}</h3> <small><cite title="Source Title">{{profiles.city}}, {{profiles.country}}  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i>{{profiles.email}}
                <br
                /> <i class="glyphicon glyphicon-globe"></i>  {{profiles.phone_number}}
                <br /> <i class="glyphicon glyphicon-gift"></i>{{profiles.pub_date}}</p>
<br>
<br>
                        
                
        </div>
        <h4>BIO</h4>
          <p>{% autoescape on %}
                {{profiles.bio| safe}}
            {% endautoescape %}</p>
                  
                     
    </div>
    {% for ev in event %}
    <div class="row">
            <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                          <img src="{{ev.picture.url}}" style="height:400px;width:800px;" class="image"><hr>
                      <div class="caption">
                            <div class="middle">
                           
                        </div>
                        <h3 class="t">{{ev.title|upper}}</h3><br>
                        <p><strong> <p>{% autoescape on %}
                                {{ev.description| safe}}
                    {% endautoescape %}</p></strong></p>
                      <center>  <button class="btn" class="btn btn-success"  style="color:rgb(138, 156, 138);padding: 20px;border-radius: 10px;background-color: white;font-size: 20px;"><a href="{%url 'price'  ev.id%}">ADD TICKET</a></button></center>
                      </div>
                    </div>
            </div>


 
    </div>
    {% endfor %}
     
 
</div>
</body>

</html>
{% endblock %}
