{% extends 'base.html' %}
{% load bootstrap3 %} {% load staticfiles %}
{% block content %}


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <title>New Project</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endblock %}

</head>

<body style="background-color:rgb(138, 156, 138);font-family: 'Fira Sans', sans-serif;font-size: 23px;">
    <br>
    <br>
    <br>                
  <h1><center>{{post.title|upper}}</center></h1>
<div class="container" style="padding-top: 100px;">
                
                
  <form  action="{%url 'ticket' post.id %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    
    {% bootstrap_form form %}
    <select  name="filter_by_category" required>
        <option selected="selected" disabled>Ticket Category</option>
      {% for tic in ticket %}     
      <option value="{{tic.id}}">{{tic.ticket_name}}</option>
      {% endfor %}
    </select>
  
    <center><input type="submit" class="btn btn-success btn-lg" value="BUY"  style="color:rgb(138, 156, 138);padding: 20px;border-radius: 10px;background-color: white;font-size: 20px;"></center>
  </form>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}


</div>

</body>

</html>
{% endblock %}